.articles {
	position: relative;
	padding: 3em 8em;
}

.articles article {
	position: relative;
	outline: 1px #fff solid;
}

.articles article::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.2;
	content: " ";
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.articles article:hover::after {
	cursor: pointer;
	opacity: 0;
}

.articles article > .headline {
	position: absolute;
	display: inline-block;
	margin: 0;
	color: #fff;
	max-width: 80%;
	z-index: 1000;
}

.articles .main-article > .headline {
	font-size: 2.4em;
	font-weight: 900;
	left: 25px;
	bottom: 25px;
}

.side-articles article > .headline {
	font-weight: 700;
	left: 15px;
	bottom: 15px;
}

.articles .main-article {
	height: 420px;
	background-image: url("../img/main-article.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.side-articles article {
	height: 140px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.side-articles article:nth-child(1) {
	background-image: url("../img/congress.jpg");
}

.side-articles article:nth-child(2) {
	background-image: url("../img/heat.jpg");
}

.side-articles article:nth-child(3) {
	background-image: url("../img/fossil-fuel.jpg");
}

.tag {
	position: absolute;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 0.7em;
	color: #fff;
	margin: 0;
	padding: 0.4em;
	top: 10px;
	left: 10px;
	z-index: 1000;
}

.top-stories {
	height: 420px;
}

.story-title,
.story-link {
	position: relative;
	width: 100%;
	height: 44.9px;
}

.story-title h1 {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	margin: 0;
	margin-left: 0.5em;
}

.story-link p {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	font-weight: 900;
	margin: 0;
	margin-left: 0.7em;
}

.story-link:hover {
	background-color: #fafafa;
	cursor: pointer;
}