nav {
    overflow: hidden;
}

nav::before,
nav::after {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 39px;
    content: "";
    vertical-align: bottom;
    border-top: 1px #444 solid;
}

nav::after {
    width: 100%;
}

.pure-menu-item {
    outline: 1px #444 solid;
    border-top: 1px #444 solid;
    border-bottom: none;
}

.default-link {
    border-top: 1px #444 solid;
}

.default-link:hover {
    background-color: #444;
}

.pure-menu-link {
    margin: 0;
    padding: 1em;
    font-weight: 700;
    color: #fff;
}

.pure-menu-link:focus {
    background-color: inherit;
}

.selected {
    background-color: #529fd2;
    color: #fff;
}

.selected:hover {
    background-color: #529fd2;
    color: #fff;
}

.header-link {
    font-size: 0.75em;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.header-link a {
    font-weight: 900;
}

.blue-link {
    border-top: 1px #529fd2 solid;
}

.blue-link:hover {
    background-color: #529fd2;
}

.red-link {
    border-top: 1px #ad2d25 solid;
}

.red-link:hover {
    background-color: #ad2d25;
}

.green-link {
    border-top: 1px #2f7f29 solid;
}

.green-link:hover {
    background-color: #2f7f29;
}

.orange-link {
    border-top: 1px #cc5a08 solid;
}

.orange-link:hover {
    background-color: #cc5a08;
}